<link rel="stylesheet" href="{{ 'hero.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'hero.css' | asset_url | stylesheet_tag }}</noscript>


<section class="hero">
  <div class="hero__left">
  <div class="hero__left__emptySpace"> </div>

    <div class="hero__left__content">

    <h2 class="hero__left__content__heading">Oil-free Shine</h2>
<p class="hero__left__content__body">We have ingrendients that are of the most premium quality. Created with love and care to provide the finest glow to an oily face.</p>
</div>

<div class="hero__left__featured">
<ul class="hero__left__featured__buttons">
<li>New</li>
<li>Fresh</li>
<li>Popular</li>

</ul>
<div class="hero__left__featured__img" >
<img  src="{{ 'makeup.jpg' | asset_url }}" alt="product" />
</div>
</div>
  </div>
  <div class="hero__right">
  <img src="{{ 'model.jpg' | asset_url }}" alt="woman posing" />
  </div>
</section>





{% schema %}
{
  "name": "Hero Image Position",
  "settings": [
    {
    "type": "select",
    "id": "hero_image",
    "label": "Hero Image Position",
    "options": [
      {
      "value": "Right",
      "label": "right"
      },
      {
        "value": "Left",
        "label": "left"
    
      }
    ],
    "default": "right"
    }

  ]
}
{% endschema %}


