<link rel="stylesheet" href="{{ 'text-image.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'text-image.css' | asset_url | stylesheet_tag }}</noscript>

<section class="middle">
  <div class="middle__top">
<div class="middle__top__contain">
    <div class="middle__top__contain__content">
      <h3 class="middle__top__contain__content__heading">the beauty trend</h3>
      <div class="middle__top__contain__content__body">
        <div class="line"> </div>
      <p>Treat your skin with a little love, care and makeup.</p>
      
      </div>
      <button class="middle__top__contain__content__button">SHOP COLLECTION</button>
    </div>
    </div>
    <div class="middle__top__contain__image">
    <div class="middle__top__contain__image__banner">
    <h4>OUR PHILOSOPHY</h4>
    <p>We're a wellness and beauty brand empowering eople to live a happy and healthy life.</p></div>
    {%- if section.settings.image != blank -%}
      <img srcset="{{section.settings.image | img_url: '490x'}}" alt="makeup"/>

      {% else %}
      <img src="{{ 'makeup1.jpg' | asset_url }}"  alt="collection" />
    {% endif %}
    </div>
    
  </div>
</section>

{% schema %}



{
  "name": "Text Image",

      "settings": [

        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"

        }
        
      ]
    
  

}
{% endschema %}
