<link rel="stylesheet" href="{{ 'text-image.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'text-image.css' | asset_url | stylesheet_tag }}</noscript>


<section class="middle">
  <div class="middle__top">
<div class="middle__top__contain">
    <div class="middle__top__contain__content">
      <h3 class="middle__top__contain__content__heading">the beauty trend</h3>
      <p class="middle__top__contain__content__body">Treat your skin with a little love, care and makeup.</p>
      <button class="middle__top__contain__content__button">SHOP COLLECTION</button>
    </div>
    </div>
    <div class="middle__top__contain__image">
      <img src={MakeUp} alt="collection" />
    </div>
    
  </div>
  <div class="middle__bottom">
  <div class="middle__bottom__contain">
    <div class="middle__bottom__contain__content">
      <h3 class="middle__bottom__contain__content__heading">the beauty trend</h3>
      <p class="middle__bottom__contain__content__body">Treat your skin with a little love, care and makeup.</p>
      <button class="middle__bottom__contain__content__button">SHOP COLLECTION</button>
    </div>
    </div>
    <div class="middle__bottom__contain__image">
      <img src={MakeUpTwo} alt="collection" />
    </div>

  </div>
</section>
